[Unit]
Description=torghost-service
After=network.target

[Service]
User=root
ExecStart=python3 /usr/local/bin/torghost.service.py --start
ExecStop=python3 /usr/local/bin/torghost.service.py --stop
Restart=no

[Install]
WantedBy=multi-user.target
